.fantasy-rpg-table-stats {
    text-align: left;
    border: 3px solid black;
    background-color: darkseagreen;
    white-space: nowrap;
}

ul {
    padding: 10px;
}

.fantasy-rpg-game-box {
    border: 3px solid black;
    background-color: lightslategray;
    width: inherit;
}

.fantasy-rpg-game-screen {
    height: 90%;
    border: 3px solid black;
    background-color: yellow;
    display: inline-flex;
    width: -webkit-fill-available;
}

.fantasy-rpg-game-screen-container {
    height: 565px;
}